<!-- Regional Map Image Display Page Template
        W. R. Emanuel, University of Maryland, College Park
        E-Mail: wemanuel@umd.edu
        Gmail: wemanuel@gmail.com -->

{% extends "base.html" %}

{% block title %}Regional Land Cover Maps{% endblock %}

<!--Forms -->
<div style="font-family: Verdana; font-weight: bold; font-size: 12pt">
<table width=1030>
    <tr width="100%">
        <td> 
            <!-- Region-Year Form. Both region and year can be selected. -->
            {% block region_year_form %}
            <form action="smry/rgn_map/" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <label for="{{ form.region.id_for_label }}">Region:</label>
                            {{ form.region }}
                        </td>
                        <td>
                            <label for="{{ form.year.id_for_label }}">Year:</label>
                            {{ form.year }}
                        </td>
                        <td>
                            <label for="{{ form.dscrpt_txt.id_for_label }}">Text:</label>
                            {{ form.dscrpt_txt }}
                        </td>
                        <td>
                            <input type="submit" value="Submit" />
                        </td>
                    </tr>
                </table>      
            </form>  
            {% endblock %}
        </td>
    </tr>
</table>
</div>
    
<!-- Primary Page Content -->

{% block page_heading %}
{{ year }} {{ rgn_name }} Land Cover
{% endblock %}

{% block page_content %}

<tr>
    <td width=800 colspan="2">
        {% load static %}
        {% static image_filename as filename %}
        <img src = "{{ filename }}",
                    alt = "Land Cover Map">
    </td>

    <td align=center valign=top>
        <img src = "/static/smry/images/LndCvr_ClrLgnd_200px.png">
    </td>

</tr>

{% endblock %}
